{% extends "layout.html" %} <!-- it inherits from parent template (layout.html) using jinja2 -->
{% block content %} <!-- this child template overrides layout.html content block -->
    <form action="/sign_up" method="POST"> <!-- used to collect user input to be sent to the server --> <!-- action - where to send the form-data when the form is submitted-->
        {{ form.hidden_tag() }}
        <fieldset class="username">
            {{ form.username.label }} <!-- first paremeter of StringField() -->
            {{ form.username(placeholder='John Smith') }}   <!-- Sets the field where the user inputs info which can be validated or not depending of the validators-->
        </fieldset>
        <fieldset class="email">
            {{ form.email.label }}
            {{ form.email(placeholder="youremail@example.com") }}
        </fieldset>
        <fieldset class="password">
            {{ form.password.label }}
            {{ form.password }}
        </fieldset>
        <div class="submit">
            {{ form.submit }}
        </div>
    </form>
{% endblock %} 